body {
  margin: 30px 10px 0 60px;
}
img {
  width: 100%;
}

#codingninja-logo {
  max-width: 210px;
  margin-bottom: 10px;
}

#blog-link {
  margin-bottom: 0px;
}

#blog-link a {
  color: black;
  font-size: 2rem;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
}
#blog-link a:hover {
  color: #dc6520;
}

#about-site {
  color: #3c5349;
  margin-top: 5px;
}

#header-image-container {
  margin-top: 50px;
}

main {
  width: 70%;
  display: inline-block;
  margin-right: 30px;
}

#blog-header {
  margin: 50px 0 50px;
}

#blog-header h1 {
  font-size: 3.2rem;
  color: #13222c;
  font-family: sans-serif;
}

/*-----author container-----*/

#author-container {
  display: inline-block;
  width: 29%;
  margin-bottom: 30px;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 1rem;
}

#author-img {
  max-width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}

#author-name {
  display: block;
  margin-bottom: 1rem;
}

#author-container .slash {
  display: none;
}

#author-container a {
  color: #3c5349;
  text-decoration: none;
}

#author-container a:hover {
  color: #dc6520;
  text-decoration: underline;
}

/*-----views-----*/

#views {
  margin-bottom: 3px;
}

#views img {
  margin-left: 2px;
  width: 18px;
  margin-bottom: -2px;
}

#views span {
  font-size: 1rem;
  font-family: sans-serif;
}

#blog-content {
  display: inline-block;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
  width: 70%;
}

h3 {
  font-style: sans-serif;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 50px;
  margin-left: 3px;
}

.widget {
  border-top: 4px solid black;
  margin-bottom: 40px;
}

.widget-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
}

label {
  display: block;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
  color: #3c5349;
  padding-bottom: 3px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 4px 10px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  width: 90%;
  display: block;
  line-height: 1.6;
  font-size: 1.05rem;
  color: #000000;
}

button[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 4px;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 12px 18px;
  text-transform: uppercase;
}

#search input {
  margin-top: 20px;
  display: inline;
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
#search img {
  width: 80%;
  vertical-align: middle;
}

#search button {
  width: 10%;
  padding: 9px 0 7px;
  margin-left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.widget a {
  text-decoration: none;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.3;
  color: #dc6520;
}

.widget a:hover {
  color: black;
}

#social {
  position: fixed;
  top: 10%;
  left: 0;
}

#social img {
  width: 50%;
}
.social-btn {
  display: block;
  width: 40%;
  padding: 14px 8px;
}
#facebook {
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#linkedin {
  background-color: #0077b5;
}

#linkedin:hover {
  background-color: #00121c;
}

#twitter {
  background-color: #83c3f3;
}

#twitter:hover {
  background-color: #55acee;
}

#gmail {
  background-color: #dd4b39;
}

#gmail:hover {
  background-color: #c23321;
}

#whatsapp {
  background-color: #6ba92f;
}

#whatsapp:hover {
  background-color: #528124;
}

#mail {
  background-color: #ed4926;
}

#mail:hover {
  background-color: #cf3311;
}
